{% extends 'base.html' %}

{% block content %}
    <h class="header">Поиск лучших билетов</h>
    <div class="cont1">
        <div class="today_stats">
            <div class="today_train">
                Куплено ж/д билетов сегодня <span class="num">{{ bought_train_today }}</span>
            </div>
            <div class="today_air">
                Куплено авиабилетов сегодня <span class="num">{{ bought_air_today }}</span>
            </div>
            <div class="files">
                <div class="export">
                    <label for="export_button" class="btn">Export</label>
                    <button id="export_button" style="visibility:hidden;">Экспорт</button>
                </div>
                <div class="import">
                    <label for="import_file" class="btn">Import</label>
                    <input id="import_file" type="file" style="visibility:hidden;">
                </div>
            </div>
        </div>
        <div class="week_stats">
            Статистика покупки билетов за неделю
            <img src='{{ image_week_stats }}' alt="Статистика за неделю">
        </div>
    </div>

    <div class="cont_range_stats">
        <div class="date_inputs">
            Статистика купленных билетов <input type="date" value="{{ week_start }}" id="start_date" class="range_date"> -- <input type="date" value="{{ week_end }}" id="end_date" class="range_date">
        </div>
        <div class="cont_img_range">
            <img id="range_stats" src='{{ image_range_stats }}' alt="Статистика за период">
        </div>
    </div>

    <div class="cont_ticket_stats">
        <div class="form_cont">
            <form id="pie_form" method="get" novalidate>
                <p>Введите данные!! Справа появится статистика</p>
                {{ stats_form.hidden_tag() }}
                <p>
                    <p>{{ stats_form.ride_type(size=1) }} {{ stats_form.ride_type.label }}</p>
                    <p>{{ stats_form.city_from(size=32, placeholder='Откуда') }}</p>
                    <div id="city_from_errors"></div>
                    <p>{{ stats_form.city_to(size=32, placeholder='Куда') }}</p>
                    <div id="city_to_errors"></div>
                    <p>{{ stats_form.date_from(size=16, placeholder='Отправление', type='date') }} {{ stats_form.date_from.label }}</p>
                    <div id="date_from_errors"></div>
                    <p>{{ stats_form.submit() }}</p>
                </p>
            </form>
        </div>
        <div class="img_seats_cont">
            <img id="img_seats" src="https://million-wallpapers.ru/wallpapers/1/29/11429117059824776806/koshka-glaza-pokryvalo-lapy-kot-belyj-potyagivaetsya.jpg" alt="Статистика билета">
        </div>
    </div>
    <hr>
    <hr>
    <div class="create_form_cont">
        <form id="create_ride" method="post" novalidate>
            <p>Создание поездки!!!</p>
            {{ create_form.hidden_tag() }}
            <p>
            <p>{{ create_form.ride_type(size=1) }} {{ create_form.ride_type.label }}</p>
            <p>{{ create_form.station_from(size=32, placeholder='Откуда  (Аэропорт или станция)') }} </p>
            <div id="station_from_errors"></div>
            <p>{{ create_form.station_to(size=32, placeholder='Куда  (Аэропорт или станция)') }}</p>
            <div id="station_to_errors"></div>
            <p>{{ create_form.date_from(size=16, placeholder='Отправление', type='datetime-local') }} {{ create_form.date_from.label }}</p>
            <div id="date_from_errors"></div>
            <p>{{ create_form.date_to(size=16, placeholder='Прибытие', type='datetime-local') }} {{ create_form.date_to.label }}</p>
            <div id="date_to_errors"></div>
            <p>{{ create_form.submit() }}</p>
            </p>
        </form>

        <form id="create_station" method="post" novalidate>
            <p>Создание станции!!!</p>
            {{ create_station_form.hidden_tag() }}
            <p>
            <p>{{ create_station_form.station_type(size=1) }}  {{ create_station_form.station_type.label }}</p>
            <p>{{ create_station_form.station_name(size=32, placeholder='Название станции') }}</p>
            <div id="station_name_errors"></div>
            <p>{{ create_station_form.station_location(size=1) }} {{ create_station_form.station_location.label }}</p>

            <p>{{ create_station_form.submit() }}</p>
            </p>
        </form>

        <form id="create_city" method="post" novalidate>
            <p>Создание города!!!</p>
            {{ create_city_form.hidden_tag() }}
            <p>
            <p>{{ create_city_form.city_name(size=32, placeholder='Название города') }}</p>
            <div id="city_name_errors"></div>

            <p>{{ create_city_form.submit() }}</p>
            </p>
        </form>
    </div>

    <div class="cont_most_popular_stats">
        <p>Самые популярные билеты:</p>
        {% if most_popular_air_ticket %}
        <div class="air">
            Авиа
            <div class="ticket_buy" type={{ most_popular_air_ticket['type'] }}>
                <div style="overflow: hidden">
                    <div class="from">
                        <p class="datetime">
                            <span class="time">{{ '{}:{}'.format(most_popular_air_ticket['dtime_departure'].hour, most_popular_air_ticket['dtime_departure'].minute) }}</span> <span class="date">{{ most_popular_air_ticket['dtime_departure'].date() }}</span>
                        </p>
                        <p class="city_station">{{ most_popular_air_ticket['city_from']+', '+most_popular_air_ticket['ap_from'] }}</p>
                    </div>

                    <div class="to">
                        <p class="datetime">
                            <span class="time">{{ '{}:{}'.format(most_popular_air_ticket['dtime_arrived'].hour, most_popular_air_ticket['dtime_arrived'].minute) }}</span> <span class="date">{{ most_popular_air_ticket['dtime_arrived'].date() }}</span>
                        </p>
                        <p class="city">{{ most_popular_air_ticket['city_to']+', '+most_popular_air_ticket['ap_to'] }}</p>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
        {% if most_popular_train_ticket %}
        <div class="train">
            Ж/Д
            <div class="ticket_buy" type={{ most_popular_train_ticket['type'] }}>
                <div style="overflow: hidden">
                    <div class="from">
                        <p class="datetime">
                            <span class="time">{{ '{}:{}'.format(most_popular_train_ticket['dtime_departure'].hour, most_popular_train_ticket['dtime_departure'].minute) }}</span> <span class="date">{{ most_popular_train_ticket['dtime_departure'].date() }}</span>
                        </p>
                        <p class="city_station">{{ most_popular_train_ticket['city_from']+', '+most_popular_train_ticket['ap_from'] }}</p>
                    </div>

                    <div class="to">
                        <p class="datetime">
                            <span class="time">{{ '{}:{}'.format(most_popular_train_ticket['dtime_arrived'].hour, most_popular_train_ticket['dtime_arrived'].minute) }}</span> <span class="date">{{ most_popular_train_ticket['dtime_arrived'].date() }}</span>
                        </p>
                        <p class="city">{{ most_popular_train_ticket['city_to']+', '+most_popular_train_ticket['ap_to'] }}</p>
                    </div>
                </div>

                </div>
            </div>
    {% endif %}
    </div>

    <hr>
    <hr>
    <div class="city_and_stations_cont">
        <ul>
            {% for city in cities %}
                <li>
                    <span class="city_name">{{ city.name }} </span><hr>

                    Аэропорты:
                    <ul>
                        {% for airport in city.airports.all() %}
                            <li>{{ airport.name }}</li>
                        {% endfor %}
                    </ul>

                    ЖД станции:
                    <ul>
                        {% for station in city.stations.all() %}
                            <li>{{ station.name }}</li>
                        {% endfor %}
                    </ul>
                <hr>
                </li>
            {% endfor %}
        </ul>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
        $.ajaxSetup({
                beforeSend: function(xhr, settings) {
                    if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type) && !this.crossDomain) {
                        xhr.setRequestHeader("X-CSRFToken", "{{ stats_form.csrf_token._value() }}")
                    }
                }
            })
    </script>
    <script src='{{ url_for('static', filename='js/admin.js') }}'></script>
{% endblock %}